%h1= house.title
%h4= house.address
#messages
#image-prime
  = image_tag(house.avatar, class: "fit")

#bio
  The house is huge, roughly 3000 sq ft, over 3 floors. It has many amenities including home theater system (rarely used except as a radio), dishwasher (also rarely used), large fully fenced yard, raised garden beds (do you like to garden?), lots of fruit trees, two full baths, security system, high speed wireless "N" internet, kitchen privileges (of course), front loader washer and dryer, central AC and heat, street parking, some storage space, gas fireplace, wood stove on the lower level and much more. Rent also includes household supplies (ie: powdered laundry soap (he washer), TP, paper towels, and other cleaning products). There are lots of common areas (one on each floor) to spread out in without having to hang out with the rest of us. We are located one block from the 75 and the 72 bus lines, close to McMenniman's Kennedy school, New Seasons Market, a park, the airport, and the Alberta district. It is approximately 2 miles to PCC Killingsworth campus, 14 blocks from Concordia (6 mins by bike), and 5+ miles to downtown.

= show_compatibility(current_user, house)

#application
  -if( house == current_user.house)

  -else
    %h3 Apply
    = render 'requests/form', remote: true, house: house


#image-thumbs
  -if house.images.any?
    - house.images.each do |image|
      = render 'images/secondary_image', image: image
  -else
    %h1 There are no images...

#responses
  - house.responses.each do |res|
    %h3
      = render 'responses/display', response: res
