%h1
  Renter:
  = request.user.user_profile.username
%h1
  House:
  = request.house.title
%h1
  message:
  = request.message
%h1
  Compatibility
  = request.compatibility
  \%

= render 'comments/form', object: request

#comments
  -if request.comments.any?
    -request.comments.each do |comment|
      = render(comment)
