
- if type == 'house'

  #image-prime
    = image_tag(request.house.avatar, class: "fit")

  %h1= request.house.title
  %h1= "#{request.compatibility}% compatibility"


  #image-thumbs
    -if request.house.images.any?
      - request.house.images.each do |image|
        = render 'images/secondary_image', image: image

  #bio
    The house is huge, roughly 3000 sq ft, over 3 floors. It has many amenities including home theater system (rarely used except as a radio), dishwasher (also rarely used), large fully fenced yard, raised garden beds (do you like to garden?), lots of fruit trees, two full baths, security system, high speed wireless "N" internet, kitchen privileges (of course), front loader washer and dryer, central AC and heat, street parking, some storage space, gas fireplace, wood stove on the lower level and much more. Rent also includes household supplies (ie: powdered laundry soap (he washer), TP, paper towels, and other cleaning products). There are lots of common areas (one on each floor) to spread out in without having to hang out with the rest of us. We are located one block from the 75 and the 72 bus lines, close to McMenniman's Kennedy school, New Seasons Market, a park, the airport, and the Alberta district. It is approximately 2 miles to PCC Killingsworth campus, 14 blocks from Concordia (6 mins by bike), and 5+ miles to downtown.



  #comments
    -if request.comments.any?
      -request.comments.each do |comment|
        = render(comment)
  = render 'comments/form', object: request
- else

  #image-prime
    = image_tag(request.user.user_profile.avatar, class: "fit")

  %h1= request.user.user_profile.first_name
  %h1=request.compatibility


  #image-thumbs
    -if request.user.user_profile.images.any?
      - request.user.user_profile.images.each do |image|
        = render 'images/secondary_image', image: image
    -else
      %h1 There are no images...

  #bio
    Hello, I'll be coming to Portland around 11.10 and need to secure a furnished room for at least 2 weeks, and month to month preferred thereafter. I'm a huge walker and won't have a car, so I'll need to be near public transportation and a grocery store, restaurants and some cultural activity...no faraway suburbs. Verified Pay Pal, LinkedIn, Facebook and/or Airbnb accounts only and phone/Skype conversations, please. I am a 'young', creative woman in my 40's with a background in fashion/art, music, acting/voice acting and clinical skin care therapist is my day job. Have lived in CA for 25 years and many major cities throughout the US as well as Italia. I'm extremely CLEAN, considerate, adaptable and interactive, although I respect privacy and quiet time. Also a huge pet lover/caretaker, particularly of senior rescue dogs, and I have excellent references for this as well from the #1 non profit in the Bay Area, Muttville, and I welcome being around and caring for pets. I will be interviewing for jobs and getting to know the city. I also have 30 plus glowing reviews from airbnb as well as from a lovely, family/couple I recently house/cat sat for in Portland in July 2016. Thank you ~~~~~

  #responses
    - request.user.user_profile.responses.each do |res|
      %h3
        = render 'responses/display', response: res



  = render 'comments/form', object: request

  #comments
    -if request.comments.any?
      -request.comments.each do |comment|
        = render(comment)
