%h1= @request.user.user_profile.username
%h1= @request.house.title
%h1= @request.message
%h1
  = @request.compatibility
  \%

= render 'comments/form', object: @request
%div{style: "border:solid;"}
-@request.comments.each do |comment|
  %p= comment.body
  %p= comment.user.user_profile.username
