
#test


= image_tag(@user_profile.avatar)
%h1
  Hello
  = @user_profile.first_name

= render 'images/form', object: @user_profile

- @user_profile.images.each do |image|
  = render 'images/secondary_image', image: image
  %b= image.caption

- @user_profile.responses.each do |res|
  %h3
    = render 'responses/form', respondable: @user_profile, response: res
