<!DOCTYPE html>
<html>
  <head>
    <title>EpRoomZen2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
    <p>
      <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    </p>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9wAasFl3L3uOLJzK469tAc8tC2ch1YYw&callback=initMap" async defer></script>
  </body>
</html>
